// theme "catppuccin-macchiato"

// session_serialization true

// keybinds {
  normal {
    // bind "Ctrl x" { SwitchToMode "Normal"; }
    unbind "Ctrl q" "Ctrl s" "Ctrl o" "Ctrl h"// for vim
    bind "Ctrl f" { SwitchToMode "Scroll"; }
    bind "Ctrl x" { Quit; }
    bind "Alt o" { SwitchToMode "Session"; }
    // bind "Alt h" { SwitchToMode "Move"; }

    // move focus
    unbind "Alt h" "Alt j" "Alt k" "Alt l"
    unbind "Alt Left" "Alt Right" "Alt Down" "Alt Up"
    bind "Super Shift Left" { MoveFocusOrTab "Left"; }
    bind "Super Shift Right" { MoveFocusOrTab "Right"; }
    bind "Super Shift Down" { MoveFocus "Down"; }
    bind "Super Shift Up" { MoveFocus "Up"; }
  }
// }
